img {
    margin: 45px;
    border-radius: 1rem;
}
.meditation2 {
    width: 290px;
    height: 150px;
}
.meditation3 {
    width: 290px;
    height: 150px;
}
.meditation4 {
    width: 290px;
    height: 150px;
}

.yoga1 {
    width: 280px;
    height: 150px;
}
.yoga2 {
    width: 290px;
    height: 150px;
}
.yoga3 {
    width: 290px;
    height: 150px;
}
.yoga4 {
    width: 290px;
    height: 150px;
}